force-app/main/default/flows/Create_Job_Definition_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>isConsidered</name>
        <label>isConsidered</label>
        <locationX>430</locationX>
        <locationY>273</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isConsidererCustomer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isConsidererCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_JDL_Customer</targetReference>
            </connector>
            <label>isConsidererCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>isJobDefinitionListIdAndAccountIdNull</name>
        <label>isJobDefinitionListIdAndAccountIdNull</label>
        <locationX>427</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jdlId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>jobDefinitionListTemplateId2</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_exist</name>
        <label>Record exist</label>
        <locationX>432</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jdlCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_record_on_Job_Definition_List_Account</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>Add customer to Job Definition List</description>
    <interviewLabel>Create Job Definition Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Job Definition Customer</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_record_on_Job_Definition_List_Account</name>
        <label>Create record on Job Definition List Account</label>
        <locationX>431</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Excluded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Job_Definition_List__c</field>
            <value>
                <elementReference>jdlId</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Job_Definition_List_Account__c</object>
    </recordCreates>
    <recordLookups>
        <name>jobDefinitionListTemplateId2</name>
        <label>jobDefinitionListTemplateId2</label>
        <locationX>430</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isConsidered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jdlId</elementReference>
            </value>
        </filters>
        <object>cgcloud__Job_Definition_List__c</object>
        <outputAssignments>
            <assignToReference>isConsidererCustomer</assignToReference>
            <field>cgcloud__Consider_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobDefinitionListTemplateId</assignToReference>
            <field>cgcloud__Job_Definition_List_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_JDL_Customer</name>
        <label>Search JDL Customer</label>
        <locationX>430</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Job_Definition_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jdlId</elementReference>
            </value>
        </filters>
        <object>cgcloud__Job_Definition_List_Account__c</object>
        <outputAssignments>
            <assignToReference>jdlCustomerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>isJobDefinitionListIdAndAccountIdNull</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Contract&apos;s Account Id</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>feedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isConsidererCustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable is filled on lookup step</description>
        <name>jdlCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store job Id</description>
        <name>jdlId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobDefinitionListObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Job_Definition_List__c</objectType>
    </variables>
    <variables>
        <name>jobDefinitionListTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
